article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	 
	background-color: #fff;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	
	outline: none;
}

button:focus {
	outline: none;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	/*position: absolute;*/
	overflow: hidden;
/*	width: 0;
	height: 0;*/
	pointer-events: none;
        transform: translateY(100% );
        opacity:0 !important;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
    position: relative;
    overflow: hidden;
}

/* Header */
.codrops-header {
	padding: calc(1.5vmax);
        position: fixed;
        width: 100%;
	z-index: 100;
	display: flex;
	align-items: flex-start;
	align-items: center;
	flex-wrap: wrap;
        top: 0;
}

.codrops-header::before {
	content: 'Your browser does not support Intersection Observer API';
	position: absolute;
	background: red;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.75rem;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.ioapi .codrops-header::before {
	display: none;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0 1em;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25rem;
}

.github {
	display: block;
	margin: 0 2rem;
}

.info {
	position: fixed;
	bottom: 6vmax;
	right: 2vmax;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	z-index: 100;
	color: var(--color-info);
	text-align: right;
}

.demos {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}

.demo {
	margin: 0 0.25em;
}

.demo span {
	white-space: nowrap;
	pointer-events: none;
}

a.demo--current {
	pointer-events: none;
	
}

.content {
	position: relative;
	display: block;
}

.content__section {
	position: relative;
	text-align: right;
	padding: 0 6vmax;
        padding-right: 12em;
    height: 100vh;
    overflow: hidden;
}

.content__section:first-child {
	margin: 0 0 10vh;
}

.content__section {
	margin: 10vh 0 0;
}

/*.content__section:first-child,
.content__section:last-child {
	height: calc(100vh - 9.875em);
	text-align: left;
}*/

.content__link {
        position:relative;
	display: block;
	position: relative;
	max-width: 100%;
	/*margin: 10vh 0 30vh auto;*/
        margin: 0;
}

.content__link--nobottom {
	margin-bottom: 10vh;
}

.content__img {
	position: relative;
	display: block;
	max-width: 90%;
	margin: 0 0 0 auto;
        filter: grayscale();
        transition: all 1s;
        opacity:1;
}
.content__img.under{
    position: absolute;
    top: 0;
    right: 0;
}

.content__main,
.content__text {
	
	margin: 0;
	line-height: 1;
	text-transform: lowercase;
	font-weight: normal;
}

.content__main,
.content__contact {
	position: absolute;
	bottom: calc(var(--fontsize-scroll-text) * 1.5 + 6vmax);
}

.content__main span {
	display: block;
}

.fixed_content__text {
	position: absolute;
	bottom: 7vmax;
	padding-left: 6vmax;
	/*z-index: 1000;*/
        text-align: left;
        width: 40%;
}


.js .ioapi .content__text {
	/*line-height: 0.8;*/
	opacity: 0;
	white-space: pre;
        letter-spacing: 14.02px;
}
.js .ioapi .content__text h2,.js .ioapi .fixed_content__text {
       position: fixed;
}
.js .ioapi .content__text h2,.js .ioapi .fixed_content__text .team-desc{
    line-height: 30px;
    transition: all 1s;
}

@media (max-height:700px){
    h1{
       font-size: 40px !important;
    }
    .fixed_content__text .team-desc p{
       line-height: 22px;
    }
    .fixed_content__text {
        bottom: 2vmax;
    }
    .explanation .container div:not(.inner) > div{
        bottom: 2vh !important;
    }
}

.js .ioapi .content__text h2,.js .ioapi .fixed_content__text .button-holder{
    display:flex;
    align-items:center;
    margin-top: 9%;
}

.js .ioapi .content__text h2,
.js .ioapi .fixed_content__text .team-toggle-button,
.team-scroll-mouse{
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    border: 2px solid #1b1b1b;
    position:relative;
    margin-left: 8px;
    cursor:pointer;
}
.js .ioapi .fixed_content__text .team-toggle-button img,
.team-scroll-mouse img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.team-scroll-mouse img{
    transform:rotate(-45deg);
    -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s;
   
}
.team-scroll-mouse img.animated{
    height:0;
    width:0;
}
.js .ioapi .content__text h2,.js .ioapi .fixed_content__text .hline{
    width: 70%;
    height: 2px;
    background: #1b1b1b;
    margin-left: -40%;
}

.content__text span {
    display: inline-block;
}


.content__contact a:last-child {
    display: block;
}

@media screen and (max-width: 50em) {
	.codrops-header {
            text-align: center;
            padding: 1rem 1rem 0;
	}
	.codrops-header__title {
		margin: 1rem 0;
	}
	.demos {
		margin: 0;
	}
	.info {
		padding: 0;
		position: relative;
		-webkit-writing-mode: initial;
		writing-mode: initial;
		text-align: center;
		bottom: auto;
		right: auto;
		margin: 0;
	}
	.github {
		display: none;
	}
	.content__text,
	.js.ioapi .content__text {
		bottom: 7rem;
	}
	.content__section:first-child, 
	.content__section:last-child {
		/*height: calc(100vh - 13.875em);*/
            /*height:inherit;*/
            height: 100vh;
	}
	.content__main, 
	.content__contact {
		bottom: calc(var(--fontsize-scroll-text) * 1.5 + 15vh);
	}
}
