@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

/* Color schemes */
.demo-4 {
    --color-text: #fff;
}

.content__text {
    text-transform: uppercase;
    display: inline-block;
}

.content__link {
	display: inline-block;
}

.content__link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: -5vw;
}

@media screen and (max-width: 40em) {
	.demo-4 {
		background-position: 50% 12rem;
	}
}