@font-face {
  font-family: MontserratExtraLight;
  src: url("../fonts/Montserrat-ExtraLight.ttf"); }
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: MontserratSemiBold;
  src: url("../fonts/Montserrat-SemiBold.ttf"); }
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: MontserratExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf"); }
/*Colors*/
/*Sizes*/
.first-screen {
  height: 100%; }
  .first-screen:not(:first-of-type) {
    padding-top: 10vh; }
    .first-screen:not(:first-of-type) .container {
      margin-top: 0vh; }
  @media (max-width: 1380px) {
    .first-screen {
      padding-right: 6vmax; } }
  .first-screen h1 {
    white-space: normal !important;
    letter-spacing: 1px !important;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    font-family: MontserratExtraBold; }
    @media (max-width: 1380px) {
      .first-screen h1 {
        font-size: 60px; } }
  .first-screen .container {
    margin-top: 25vh;
    text-align: left;
    padding-left: 11vh; }
    @media (max-width: 1050px) {
      .first-screen .container {
        padding-left: 0%;
        text-align: center; } }
    .first-screen .container .intro {
      margin-top: 12vh;
      padding-left: 35%;
      min-width: 300px;
      max-width: 87%; }
      @media (max-width: 1550px) {
        .first-screen .container .intro {
          padding-left: 15%; } }
      .first-screen .container .intro p {
        line-height: 30px; }
    .first-screen .container .hline {
      width: 100%;
      height: 2px;
      background: #1b1b1b;
      margin-left: -100%;
      margin-bottom: -26px; }
    .first-screen .container .button-holder div:last-of-type {
      margin-top: 30px;
      margin-left: -25px;
      text-transform: uppercase;
      opacity: 0.1;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 4.56px; }

@media (max-width: 1380px) {
  .explanation {
    padding-right: 6vmax; } }
.explanation.centered h2, .explanation.centered h3 {
  text-align: center; }
.explanation.centered .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
.explanation .container {
  text-align: left;
  padding-left: 13vh; }
  @media (max-width: 1050px) {
    .explanation .container {
      padding-left: 0%;
      text-align: center; } }
  .explanation .container .inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .explanation .container .inner h2 {
      font-family: MontserratExtraBold;
      white-space: normal !important;
      letter-spacing: 1px !important;
      font-size: 72px;
      font-weight: 700;
      line-height: 86.4px; }
      @media (max-width: 1380px) {
        .explanation .container .inner h2 {
          font-size: 60px;
          line-height: 66.4px; } }
      @media (max-width: 980px) {
        .explanation .container .inner h2 {
          font-size: 40px;
          line-height: 46.4px; } }
    .explanation .container .inner .intro {
      margin-top: 12vh;
      padding-left: 35%;
      min-width: 300px;
      max-width: 87%; }
      @media (max-width: 1550px) {
        .explanation .container .inner .intro {
          padding-left: 15%; } }
      .explanation .container .inner .intro p {
        line-height: 30px; }
    .explanation .container .inner p {
      padding: 0 12vh;
      text-align: justify;
      line-height: 30px; }
  .explanation .container .hline {
    width: 100%;
    height: 2px;
    background: #1b1b1b;
    margin-left: calc(-100% - 8px);
    margin-bottom: -26px; }
  .explanation .container .button-holder div:last-of-type {
    margin-top: 30px;
    margin-left: -25px;
    text-transform: uppercase;
    opacity: 0.1;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4.56px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.06.2018, 12:59:13
    Author     : P.Artem
*/
@media (max-width: 880px) {
  main {
    overflow: hidden; }

  header {
    padding: 15px;
    /*Mobile menu*/ }

  .content__section {
    padding-right: 6vmax; }
    .content__section .content__link {
      display: inherit; }
      .content__section .content__link .content__img {
        margin: auto; }
        .content__section .content__link .content__img.under {
          top: 0;
          right: 0;
          left: 0; }
      .content__section .content__link .fixed_content__text {
        width: 100%;
        bottom: 4vmax; }
    .content__section .fixed_content__text {
      width: calc(100% - 12vmax); }
      .content__section .fixed_content__text .js .ioapi .fixed_content__text .button-holder {
        margin-top: 4%; } }
body {
  background-color: black;
  font-family: MontserratRegular;
  color: white; }

p {
  font-size: 16px; }

h2 {
  font-family: MontserratBold;
  font-size: 48px; }

h3 {
  font-size: 12px;
  text-transform: uppercase;
  padding: 30px 0 5px;
  color: #0c85f7; }

.explanation h3 {
  letter-spacing: 4.56px; }

.dlg {
  display: table !important;
  font-size: 12px;
  color: #0c85f7;
  margin: 50px 0 30px; }
  .dlg > span {
    width: auto;
    padding: 0;
    margin: 0;
    letter-spacing: 1px; }

.team-desc.hidden {
  height: 0; }

.left-nav {
  position: fixed;
  bottom: calc(50% - 140px);
  left: 0%;
  z-index: 999; }
  .left-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    width: 40px; }
    .left-nav ul li {
      margin: 2px 0;
      list-style: none;
      padding: 1px 0; }
      .left-nav ul li:after {
        content: " ";
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        cursor: pointer;
        margin: 5px;
        padding: 3px;
        background-color: #323232;
        cursor: pointer;
        transition: all .5s; }
      .left-nav ul li.active:after {
        background: white;
        width: 20px;
        height: 20px;
        transition: all .5s; }

header .logo {
  flex: 0.2; }
header .nav {
  flex: 2; }
  header .nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    text-transform: uppercase; }
    header .nav ul .nav-item {
      color: #9c9c9c;
      margin: 0 20px;
      font-size: 14px;
      font-family: sans-serif;
      cursor: pointer; }
      header .nav ul .nav-item.active {
        color: white; }
header .auth {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  header .auth .search {
    margin: 0 30px; }

/*# sourceMappingURL=styles.css.map */
