@font-face {
    font-family: MontserratExtraLight;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: MontserratExtraBold;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

