/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.06.2018, 12:59:13
    Author     : P.Artem
*/
@media (max-width:1000px){
    .fixed_content__text{
        width:80%;
    }

}
@media (max-width:880px){
    main{
        overflow: hidden;

    }
    header{
        padding:15px;
        /*Mobile menu*/
        .nav{
            
        }
    }
    .content__section{
        padding-right: 6vmax;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .content__link {
            display: inherit;
            .content__img{
                margin:auto;
                &.under{
                    top: 0;
                    right: 0;
                    left: 0;
                }
            }
            .fixed_content__text{
                width: 100%;
                bottom: 4vmax;
            }
        }
        .fixed_content__text {
            width: calc(100% - 12vmax);
            .js .ioapi .fixed_content__text .button-holder {
                margin-top: 4%;
            }
        }
        
    }
}


@media (max-width:800px){
    p {
        font-size: 14px;
        line-height: 25px;
    }
    .explanation{
        .container{
            .inner {
                p{
                    padding:10px;
                }
            }
            div:last-of-type{
                &>div{
                        bottom: 0vh !important;
                }
            }
        }
    }
    
    .content__section:not(.explanation){
        .fixed_content__text{
            padding-left: 0;
        }
    }
}

@media (max-width:500px){
    h1{
        font-size: 30px !important;
        line-height: 35px !important;
    }
    h2{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .intro{
        padding-left: 0 !important;
    }
    p {
        font-size: 13px !important;
        line-height: 23px !important;
    }
    .ioapi .fixed_content__text .button-holder{
            margin-top: 0%;
    }
    .first-screen .container .intro {
        margin-top: 5vh;
    }
}