.first-screen{
    height: 100%;
    &:not(:first-of-type){
        padding-top: 10vh;
        .container{
            margin-top: 0vh;
        }
    }
    @media(max-width:1380px){
        padding-right: 6vmax;
    }
    
/*        @media(max-width:1380px){
            font-size: 60px;
        }*/
    .container{
        margin-top: 25vh;
        text-align: left;
        padding-left: 11vh;
        @media(max-width:1050px){
            &{
                padding-left: 0%;
                text-align: center
            }
        }
        .intro{
            margin-top: 12vh;
            padding-left: 35%;
            min-width: 300px;
            max-width: 87%;
            @media(max-width:1550px){
                &{
                    padding-left: 15%;
                }
            }
            p{
                line-height: 30px;
            }

        }
        .hline{
            width: 100%;
            height: 2px;
            background: #1b1b1b;
            margin-left: -100%;
            margin-bottom: -26px;
        }
        .button-holder div:last-of-type{
            margin-top:30px;
            margin-left: -25px;
            text-transform: uppercase;
            opacity: 0.1;
            color: #ffffff;     
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 4.56px;
        }
    }
}
