@import "_mixins.scss";
@import "_fonts.scss";
@import '_vars.scss';
@import "first-screen.scss"; 
@import "_explanation.scss";
@import "_mobile.scss";
@import "_mobile-nav.scss";

body{
    background-color:$bg-main;
    @include font-f(n);
    color:$text-color;
}
p{
    font-size:$main-size;
}
h1{
 
    white-space: normal !important;
    letter-spacing: 1px !important;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    font-family:MontserratExtraBold;
    
    @media(max-width:800px){
        &{
            font-size:30px;
        }
    }
    @media (max-width: 1380px){
        &{
            font-size: 60px;
        }
    }
}
h2{
    @include font-f(b);
    font-size:48px;
}
h3{
    font-size:12px;
    text-transform:uppercase;
    padding: 30px 0 5px;
    color: rgb(12, 133, 247);
}
.explanation h3{
    letter-spacing: 4.56px;
}

.dlg{
    display: table !important;
    font-size: 12px;
    color: #0c85f7;
    margin: 50px 0 30px;
    & > span{
        width: auto;
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
    }
} 

.team-desc.hidden{
    height:0;
}

.content-footer{
    position: absolute;
    bottom: 15vh;
    width: 50%;
    right: calc(0% + 35px);
}

@import "_header.scss";