@import "_mixins.scss";
@import "_fonts.scss";
@import '_vars.scss';
@import "first-screen.scss"; 
@import "_explanation.scss";
@import "_mobile.scss";
@import "_mobile-nav.scss";
@import "_first-screen.scss";

body{
    background-color:$bg-main;
    @include font-f(n);
    color:$text-color;
}
p{
    font-size:$main-size;
}
h1{
    white-space: normal !important;
    letter-spacing: 1px !important;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    font-family:MontserratExtraBold;
    
    @media (max-width: 1380px){
        &{
            font-size: 60px;
        }
    }
    @media(max-width:1000px){
        &{
            font-size:40px;
        }
    }
    @media(max-width:800px){
        &{
            font-size:30px;
        }
    }
}
h2{
    @include font-f(b);
    font-size:48px;
}
h3{
    font-size:12px;
    text-transform:uppercase;
    padding: 30px 0 5px;
    color: rgb(12, 133, 247);
}
.explanation h3{
    letter-spacing: 4.56px;
}

.dlg{
    display: table !important;
    font-size: 12px;
    color: #0c85f7;
    margin: 50px 0 30px;
    & > span{
        width: auto;
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
    }
} 

.team-desc.hidden{
    height:0;
}

.content-footer{
    position: absolute;
    bottom: 15vh;
    width: 50%;
    right: calc(0% + 35px);
}

.first-screen{
    .container{
        .intro{
            @media(max-width:800px){
                &{
                    margin: auto;
                    margin-top: 5vh;
                }
                p{
                    line-height: 28px;
                }
            }
        }
        .content-footer{
            @media(max-width:800px){
                &{
                   bottom: 0vh !important;
                }
            }
        }
    }
}
.content__section{
    .content__link{
        .content__img{
            margin-top: 0;
            &:first-of-type{
                opacity:0.2;
            }
        }
    }
    .fixed_content__text{
        @media(max-width:500px){
            &{
                width: 100%;
                padding: 10px 20px;
                z-index: 999;
                background: rgba(0, 0, 0, 0.75);
                bottom: 0;
                padding-left: 20px !important;
            }
        }
        .content__subtext{
            padding: 0;
        }
        .button-holder{

            @media(max-width:800px) and (max-height:800px){
                &{
                    margin-top: 0% !important;
                }
               & .team-toggle-button{
                    height: 30px;
                    width: 30px;
                    margin-left:5px;
                }
            }   
        }
    }
}

@import "_header.scss";